body {
    font-family: cursive;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box,
.paste-box {
    flex-flow: column;
    border-radius: 30px;
    border: dimgray 2px solid;
    width: 400px;
    height: 450px;
    margin: 10px;
    padding: 20px;
    background-color: darkviolet;
    text-align: center;
    box-shadow: 5px 15px 15px rgb(163, 175, 189);
}

.content-field {
    padding-top: 10px;
    width: 400px;
    height: 200px;
    background-color: white;
    text-align: center;

}

.copy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-top: 50px;
    margin-left: 130px;
    background-color: whitesmoke;
    border-radius: 12px;
    border: 2px solid black;
    transition: all 1s;
}

.copy-btn:hover {
    background-color: rgb(56, 56, 250);
    color: white;
}

.copy-btn .copy-icon-img {
    width: 20px;
    padding: 10px;
}

.msg-box {
    text-align: center;
    width: 400px;
    margin-top: 130px;
    height: 200px;
    background-color: darkviolet;
    box-shadow: 5px 15px 15px rgb(163, 175, 189);
    border-radius: 15px;
    display: none;
}

.msg-box .content-msg {
    font-size: 30px;
    color: white;
}

.paste-box {
    font-size: 20px;
    display: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}